<h1>Show Page for <%= @dish.name %></h1>

<h2>Here's what goes in apparently</h2>
<% @dish.portions.each do |portion| %>
  <%= "#{portion.description} of #{dose.ingredient.name.downcase}" %>
<% end %>

<h1>What else should go into the dish?</h1>
<%= simple_form_for [@dish, @portion] do |f| %>
  <%= f.input :description, label: "Quantity?", placeholder: "ex. 1 tbs" %>
  <%= f.association :ingredient, label: "Ingredient", collection: Ingredient.order(name: :asc), include_blank: false  %>
  <%= f.submit "Add It To The Dish" %>
<% end %>
